.hero {
	$block: &;

	overflow: hidden;

	&__main {
		position: relative;
		z-index: 2;
		min-height: 80vh;
		padding: 80px 0;
		display: flex;
		align-items: center;

		@include mq(tablet) {
			padding: 120px 0;
		}
	}

	&__visual {
		@include fillout;

		&:after {
			content: '';
			@include fillout;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.66) 6.22%,
				rgba(255, 255, 255, 0) 51.23%
			);
		}

		&__image {
			@include object-fit(cover);
		}
	}

	&__inner {
		position: relative;

		&__content {
			@include grid;
		}
	}

	&__headline {
		grid-column: 1 / span 7;

		@include mq(tablet-landscape) {
			grid-column: 1 / span 6;
		}
	}

	&__text {
		grid-column: 1 / span 6;

		@include mq(tablet-landscape) {
			grid-column: 1 / span 4;
		}
	}

	&__teasers {
		margin: 0 #{-$page-padding-small};
		padding: 0 20px;

		@include mq(tablet) {
			margin: 0 #{-$page-padding-big};
			padding: 0 80px;
		}

		@include mq(tablet-landscape) {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			.teaser:last-child {
				z-index: 2;
				// clip-path: polygon(0 31%, 100% 0, 100% 100%, 0% 100%);
				clip-path: polygon(0 100px, 100% 0, 100% 100%, 0% 100%);
			}
			.teaser:nth-child(2) {
				z-index: 2;
				clip-path: polygon(0% 50px, 100px 0, 323% 100%, 0% 100%);
			}
			.teaser:first-child {
				z-index: 2;
				clip-path: polygon(0% 0, 100% 50px, 100% 100%, 0% 100%);
			}
		}

		.teaser {
			@include mq(tablet-landscape) {
				padding-top: calc(120px + 66px);
				margin-top: -120px;
			}

			&:first-child {
				&:before {
					left: -30vw;
				}
			}

			&:last-child {
				grid-column: span 2;
			}
		}
	}
}
